@import "~@fortawesome/fontawesome-free/css/all.css";
@font-face {
    font-family: 'Artemus';
    src: url(../src/assets/Artemus.otf) format('Artemus');
  }

@font-face {
    font-family: 'Chavelite';
    src: url(../src/assets/Chavelite.otf) format('truetype');
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*ul,*a,*li{
    list-style: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
	overflow-scrolling: touch;
}
body {
    width: 100vw;
    height: unset;
    overflow-x: hidden;
    font-family: 'Artemus',"Poppins", sans-serif;
    // background: linear-gradient(to bottom, #81a5e065 0%, #cc5ae032 100%);
}

::-webkit-scrollbar {
    display: none;
  }
  
//   /* Track */
//   ::-webkit-scrollbar-track {
//     // display: none;
//     // background: transparent;
//     border-radius: 10px;
//   }
   
//   /* Handle */
//   ::-webkit-scrollbar-thumb {
//     background: blue; 
//     border-radius: 10px;
//   }
  
//   /* Handle on hover */
//   ::-webkit-scrollbar-thumb:hover {
//     background: #b30000; 
//   }
